        <!--<div id="custom-queue" style="float:right;"></div>-->
        <div id="save-queue" style="margin-left:20px;">
            <%= render :partial =>'/admin/messages/temp_files' %>
        </div>