Hello <%=@user.first_name%> <%=@user.last_name%>,<br/>

<p>Your login details for securecopper is as follows:</p>  
<p>Email: <%= @user.email %></p>
<p>Password: <%= @user.password %></p>

Thanks.<br/>

Securecopper Team.
